Options -Indexes
RewriteEngine On
RewriteCond %{HTTP_HOST} ^zazil\.serviciomultimedia\.com$ [NC]
RewriteCond %{HTTPS} !=on
RewriteCond %{THE_REQUEST} \s/+([^\s?]*) [NC]
RewriteRule ^ https://zazil.serviciomultimedia.com/%1 [R=301,L,NE]
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^ index.php [L]

<IfModule mod_headers.c>
  <FilesMatch "\.(css|js|webp|png|jpg|jpeg|svg|woff2)$">
    Header set Cache-Control "public, max-age=2592000"
  </FilesMatch>
</IfModule>
